<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elysiaptr.wisdomslipsserver.mapper.AnalyzeRepositoryMapper">

    <resultMap id="BaseResultMap" type="com.elysiaptr.wisdomslipsserver.entity.AnalyzeRepository">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="ilf" column="ilf" jdbcType="INTEGER"/>
            <result property="eif" column="eif" jdbcType="INTEGER"/>
            <result property="ei" column="ei" jdbcType="INTEGER"/>
            <result property="eo" column="eo" jdbcType="INTEGER"/>
            <result property="eq" column="eq" jdbcType="INTEGER"/>
            <result property="gsc" column="gsc" jdbcType="INTEGER"/>
            <result property="vaf" column="vaf" jdbcType="FLOAT"/>
            <result property="answer" column="answer" jdbcType="FLOAT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
            <result property="ifDelete" column="if_delete" jdbcType="INTEGER"/>
            <result property="deleteTime" column="delete_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,ilf,eif,
        ei,eo,eq,
        gsc,vaf,answer,
        create_time,update_time,update_by,
        if_delete,delete_time
    </sql>
</mapper>
